.title {
    color: #0e3487;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .upload__btn {
    width: 400px;
    border-radius: 8px;
    background: cadetblue;
    padding: 16px 8px;
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
  }
  .upload__btn:hover,
  .upload__btn:focus,
  .upload__btn:active {
    background: #030098 !important;
  }
  .re__upload__btn {
    width: 100%;
    border-radius: 8px;
    background: #030098;
    padding: 8px;
    color: #fff;
    text-align: center;
    font-family: SUIT;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    border: none;
    line-height: normal;
  }
  .re__upload__btn:hover,
  .re__upload__btn:focus,
  .re__upload__btn:active {
    background: #1e6662 !important;
    border: none !important;
  }

.video__placeholder {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  background-color: #f0f0f0;
  position: relative; /* 부모 요소를 relative로 설정 */
}

.video__placeholder img {
  position: absolute; /* 절대 위치 - 부모 요소 내 가운데에 위치 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 부모 요소 내 가운데 정렬 */
}
.input {
  width: 300px;
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #0e3487;
  outline: none;
}

.label {
  font-weight: 700;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
}
