.custom-footer {
    background-color: #555;
    /* 진한 회색 */
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    gap: 20px;
    /* 링크 간의 간격 조정 */
    margin-right: auto;
    /* 오른쪽으로 정렬 */
}

.footer-right a {
    color: #fff;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info p {
    margin: 0;
    line-height: 1.5;
}